<div class="tasklist alltasks">
  <% if(allTasks.length===0) { %>
  <h2>No Task Found</h2>
  <%} else {%>
  <ul class="unordered-list-for-tasks-grid">
    <% for(let task of allTasks) { %> <% if (task.isActive) { %>
    <div
      class="tasksview tasks-grid-layout"
    >
      <li>
        <ul>
          <li>Name: <span><%= task.taskName %></span></li>
          <li>Description: <span><%= task.description %></span></li>
          <li>Due Date: <span><%= task.dueDate %></span></li>
          <li>Period Type: <span><%= task.periodType %></span></li>
          <li>Task Assigned To: <span>Rajeev (rajeev1503)</span></li>
          <li>Status: <span style="color: #fa5">Pending</span></li>
        </ul>
      </li>
      <div class="tasks-action-buttons">
        <% if(isCreator) {%>
          <div class="trash-button">
            <a href="/createtask/<%= taskList._id %>/<%= task._id %>/delete"><i class="fa-solid fa-trash fa-lg"></i
            ></a>
          </div><%}%>
        <div class="check-button">
          <a
            href="/createtask/<%= taskList._id %>/<%= task._id %>?isactive=false"
            ><i class="fa-solid fa-check fa-lg"></i
          ></a>
        </div>
      </div>
    </div>
    <%} else { %>
    <div
      class="tasksview tasks-grid-layout"
    >
      <li>
        <ul>
          <li>Name: <span><%= task.taskName %></span></li>
          <li>Description: <span><%= task.description %></span></li>
          <li>Due Date: <span><%= task.dueDate %></span></li>
          <li>Period Type: <span><%= task.periodType %></span></li>
          <li>Task Assigned To: <span>Rajeev (rajeev1503)</span></li>
          <li>Status: <span style="color: green">Completed</span></li>
        </ul>
      </li>
      <div class="tasks-action-buttons">
        <% if(isCreator) {%>
        <div class="trash-button">
          <a href="/createtask/<%= taskList._id %>/<%= task._id %>/delete"><i class="fa-solid fa-trash fa-lg"></i
          ></a>
        </div><%}%>
        <div class="check-button">
          <a
            href="/createtask/<%= taskList._id %>/<%= task._id %>?isactive=true"
            ><i class="fa-solid fa-xmark fa-lg"></i
          ></a>
        </div>
      </div>
    </div>
    <% } }%> <%}%>
  </ul>
</div>
