<%- include('./Shared/navbar', {path:"index"}); -%>
<div class="container">
  <div class="mobile-menu-container">
    <%- include('./Shared/mobiletopmenu', {page:"index"}); -%>
  </div>

  <div
    class="create-task-container create-task-container-mobile"
    id="mobilemenuhandler"
  >
    <h1>Create New Task List</h1>
    <form method="POST" action="/createtasklist" class="inputform">
      <input
        type="text"
        name="taskListName"
        placeholder="Task name"
        autocomplete="off"
      />
      <textarea
        name="description"
        placeholder="Description"
        autocomplete="off"
        rows="4"
      ></textarea>
      <br />

      <br />
      <button class="submit">Submit</button>
    </form>
    <div class="close-button" onClick="`${mobileMenuHandler(false)}`">
      <span>Close</span>
    </div>
  </div>

  <div class="tasklist">
    <ul>
      <% for(let taskList of allTaskList) { %>
      <a href="/createtasklist/<%=taskList._id%>">
        <% if (taskList.isActive) { %>
        <div class="tasksview" style="border-left: 5px solid green">
          <li>
            <ul>
              <li>Name: <%= taskList.taskListName %></li>
              <li>Description: <%= taskList.description %></li>
              <% if(taskList.tasks.length>1) {%>
              <li>Total Tasks: <%=(taskList.tasks.length-1)%></li>
              <%} else {%>
              <li>Total Tasks: <%=(taskList.tasks.length)%></li>
              <%}%>
              <p style="color: green">Active</p>
            </ul>
          </li>
        </div>
        <%} else { %>
        <div class="tasksview" style="border-left: 5px solid #fa5">
          <li>
            <ul>
              <li>Name: <%= taskList.taskListName %></li>
              <li>Description: <%= taskList.description %></li>
              <% if(taskList.tasks.length=1) {%>
              <li>Total Tasks: <%=(taskList.tasks.length-1)%></li>
              <%} else {%>
              <li>Total Tasks: <%=(taskList.tasks.length)%></li>
              <%}%>
              <p style="color: #fa5">Completed</p>
            </ul>
          </li>
        </div>
        <% } %></a
      >
      <% }%>
    </ul>
  </div>
</div>
