<%- include('./Partials/header', {title: "Task List - BeUpdated" }); -%> <%-
include('./Shared/navbar', {path:"tasklist"}); -%>
<div class="container">
  <div class="mobile-menu-container">
    <div class="mobile-top-heading"><h1><%=taskList.taskListName%></h1></div>

    <%- include('./Shared/mobiletopmenu', {page:"tasklist"}); -%>
  </div>
  <div
    class="create-task-container tasklist-container create-task-container-mobile"
    id="mobilemenuhandler"
  >
    <%- include('./Components/Tasklist/edit', {taskList}); -%> <br>
    <%- include('./Components/Tasklist/addteammember', {taskList, teamMembers}); -%> <br><br><br>
    <%- include('./Components/Tasklist/addtask', {taskList}); -%><br><br>
    <%- include('./Components/Tasklist/deletebutton', {taskList}); -%><br><br>
    <div class="close-button" onClick="`${mobileMenuHandler(false)}`">
      <span>Close</span>
    </div>
  </div>
  <%- include('./Components/Tasklist/tasks', {allTasks, taskList}) -%>
</div>
